mcf:
    version: 1.0

identification:
    title: {{ md['title'] }}
    abstract: {{ md['description'] }}
    keywords:
      lsc:
        keywords:
        - {{ md['LSC category'] | lower }}
        vocabulary:
            name: LSC categories
            url: https://lsc-hubs.org/categories/
      tags:
        keywords:
        - {{ md['Data category'] | lower }}
        vocabulary:
            name: LSC tags
            url: https://lsc-hubs.org/tags/
distribution:
    wms: 
        type: OGC:WMS
        url: {{ md['ogc'] }}
    docs:
        type: www:link
        description: Documentation
        url: {{ md['documentation'] }}