mcf:
    version: 1.0

metadata:
    identifier: dea_{{ md['id'] }}
    hierarchylevel: dataset
    dataseturi: https://explorer.digitalearth.africa/products/{{ md['id'] }}

identification:
    title: {{ md['title'] }}
    abstract: {{ md['description'] }}
    keywords:
      lsc:
        keywords:
        - {{ md['LSC category'] | lower }}
        vocabulary:
            name: LSC categories
            url: https://lsc-hubs.org/categories/
      tags:
        keywords:
        - {{ md['Data category'] | lower }}
        vocabulary:
            name: LSC tags
            url: https://lsc-hubs.org/tags/

distribution:
    stac:
        url: https://explorer.digitalearth.africa/stac/collections/{{ md['id'] }}
        type: stac item
        name: {{ md['id'] }}
        description: {{ md['description'] }}