mcf:
    version: 1.0

metadata:
    identifier: {{ md['id'] }}

identification:
    keywords:
      lsc:
        keywords:
        - {{ md['LSC category'] | lower }}
        vocabulary:
            name: LSC categories
            url: https://lsc-hubs.org/categories/
      tags:
        keywords:
        - {{ md['Data category'] | lower }}
        vocabulary:
            name: LSC tags
            url: https://lsc-hubs.org/tags/

distribution:
    wms:
        url: {{md['url']}}
        type: {{md['protocol']}}
        name: {{md['layers']}}